@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
:root{
    --bgcinza: rgb(37,37,38);
}


body{
    background-color: var(--bgcinza);
    display: grid;
    font-family: 'Poppins', sans-serif;
    justify-items: center;
}

.titulo{
    text-align: center;
    font-weight: 500;
    color: white;
}

.fundo__base{
    background-color: #4f5152;
    display: grid;
    width: 50%;
    border-radius: 10px;
    border: 3px solid #e3ff32;
    padding: 45px;
    grid-gap: 50px;
}


.container{
    display: grid;
    justify-content:center;

}

.linha{
    display: flex;
    background-color: rgb(167, 255, 174);
    border-radius: 0;
    border: .2px solid transparent ;
}

.linha input{
    background: transparent;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    border: none;
    padding-right: 0;
    width: 0;
    outline: 0;
    transition: all .8s;

}

.icon_search{
    width: 20px;
    color: aqua;

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 40px;
    margin-left: 10px;
    border-radius: 0%;
    background: #ffffff;
}

.icon i{
    position: absolute;
    color: #ffc400;
}

.icon .fa-xmark {
    opacity: 0;
}

.container:hover input, input:focus, input:not(:placeholder-shown){
    width: 300px;
    padding-left: .5rem;
}

.container:hover .fa-xmark, input:focus ~ .icon .fa-xmark, input:not(:placeholder-shown,) ~ .icon .fa-xmark {
    opacity: 1;
}

.container:hover .fa-search, input:focus ~ .icon .fa-search,input:not(:placeholder-shown) ~ .icon .fa-search .icon_search {
    opacity: 0;
}